@import '_colors';
@import '_mdc-theme';
@import '@material/button/mdc-button';
@import '@material/ripple/mdc-ripple';

.button {
    margin-right: 0.3125rem;

    &__spinner {
        color: $color-on-primary;
    }

    &--outlined {
        color: $color-on-surface;
    }
}
