@import '_base';
@import '_mdc-theme';
@import '@material/switch/mdc-switch';
@import '@material/form-field/mdc-form-field';

.switch {
    &--full-width {
        margin: $gutter-small;
        width: 100%;
    }

    .mdc-switch {
        margin-right: $gutter-small;
    }
}
