$centered-container-width: 80rem;
$device-width: 500px;
$drawer-width: 16rem;
$footer-height: 1rem;
$gutter-small: 0.5rem;
$gutter: 1rem;
$header-device-height: 1.875rem;
$header-height: 2.9375rem;
$main-container-width: 80rem;

$z-index-popup: 100;
$z-index-loading: 1000;
