// Brand Color Palette
$off-white: #f4f4f4;
$pure-white: #fff;
$color-primary: #3f51b5;
$color-primary-dark: darken(#3f51b5, 10%);
$color-primary-light: lighten(#3f51b5, 10%);
$color-secondary: #aed581;
$color-surface: #ffffff;
$color-background: #ffffff;
$color-warn: #ffa54e;
$color-error: #b00020;
$color-on-primary: #ffffff;
$color-on-secondary: #ffffff;
$color-on-error: #ffffff;
$color-on-surface: #333333;
