$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$title: 1.3rem;
$hint-txt: 0.7rem;
$input-txt: 0.9rem;
$label-txt: 0.8rem;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-heavy: 500;

@mixin headline-1 {
    font-size: 1.125rem;
    font-family: $font-family;
    font-weight: $font-weight-medium;
}

@mixin headline-2 {
    font-size: 1.875rem;
    font-family: $font-family;
    font-weight: $font-weight-regular;
}

@mixin headline-3 {
    font-size: 1rem;
    font-family: $font-family;
    font-weight: $font-weight-heavy;
}

@mixin headline-4 {
    font-size: 0.8rem;
    font-family: $font-family;
    font-weight: $font-weight-medium;
}

@mixin headline-5 {
    font-size: 1.5rem;
    font-family: $font-family;
    font-weight: $font-weight-medium;
}

@mixin headline-6 {
    font-size: 1.25rem;
    font-family: $font-family;
    font-weight: $font-weight-heavy;
}

@mixin body-main {
    font-size: 1rem;
    font-family: $font-family;
    font-weight: $font-weight-medium;
}

@mixin body-regular {
    font-size: 0.75rem;
    font-family: $font-family;
    font-weight: $font-weight-medium;
}

@mixin subtitle-1 {
    font-size: 1rem;
    font-family: $font-family;
    font-weight: $font-weight-medium;
}

@mixin subtitle-2 {
    font-size: 0.875rem;
    font-family: $font-family;
    font-weight: 500;
}

@mixin button {
    font-size: 0.875rem;
    font-family: $font-family;
    font-weight: 500;
    text-transform: uppercase;
}

@mixin caption {
    font-size: 0.75rem;
    font-family: $font-family;
    font-weight: $font-weight-medium;
}

@mixin overline {
    font-size: 0.75rem;
    font-family: $font-family;
    font-weight: 500;
    text-transform: uppercase;
}

:export {
    fontFamily: $font-family;
    fontWeightNormal: $font-weight-regular;
    fontWeightMedium: $font-weight-medium;
    fontWeightHeavy: $font-weight-heavy;
}
