@import '_colors';

.notification-snackbar {
    max-height: 30rem;
    max-width: 32rem;
    position: relative;

    &__development-message {
        background-color: $color-surface;
        color: $color-on-surface;
        display: block;
        max-width: 100%;
        max-height: 10rem;
        margin-top: 0.5rem;
        overflow: auto;
    }

    &__button {
        color: #fff;
    }
}
