@import '_globals';

.header-nav-right {
    align-items: center;
    display: flex;
    justify-content: center;

    &__link {
        font-size: 1rem;
        padding: $gutter-small;
    }

    &__links {
        margin-right: $gutter-small;
    }

    &__user {
        cursor: pointer;
    }
}
