@import '../../styles/_globals';

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;

    &__main {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__header {
        flex: 0 0 $header-height;

        @media screen and (max-width: $device-width) {
            flex: 0 0 $header-device-height;
        }
    }

    &__loading {
        top: $header-height;

        @media screen and (max-width: $device-width) {
            top: $header-device-height;
        }
    }

    &__footer {
        flex: 0 0 $footer-height;
    }
}
