@import '_globals';

.section {
    &--centered {
        width: 80%;
        margin: 0 auto;
        max-width: $centered-container-width;
        padding: $gutter 0;
    }

    @media screen and (max-width: $device-width) {
        width: 100%;
        margin: 0;
        padding: $gutter-small;
    }
}
