.list-link {
    font-size: 1rem;

    &:after {
        // a11y styling trick to cover the entire are of the parent so any part of it can be clicked.
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    &:focus {
        border: 0;
        outline: none;
        text-decoration: underline;
    }
}
